@model SkiGes_v1._0.Models.Adresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.oras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAdresa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
