@model IEnumerable<SkiGes_v1._0.Models.Adresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.oras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.oras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAdresa }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAdresa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAdresa })
        </td>
    </tr>
}

</table>
