@model IEnumerable<SkiGes_v1._0.Models.Utilizator>

@{
    ViewBag.Title = "Index";
    if (Session["UserType"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.varsta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.varsta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idUtilizator }) |
                @Html.ActionLink("Details", "Details", new { id = item.idUtilizator }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idUtilizator })
            </td>
        </tr>
    }

</table>
