@model IEnumerable<SkiGes_v1._0.Models.Partie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitudine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitudine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stare_partie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dificultate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strat_zapada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitudine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitudine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stare_partie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dificultate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strat_zapada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPartie })|
            @Html.ActionLink("Details", "Details", new { id=item.idPartie })|
            @Html.ActionLink("Delete", "Delete", new { id=item.idPartie })
        </td>
    </tr>
}

</table>
