@model SkiGes_v1._0.Models.Partie

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>
<div class="jumbotron">
    <h4>Partie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.link)">@Html.DisplayFor(model => model.link)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stare_partie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stare_partie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dificultate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dificultate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strat_zapada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strat_zapada)
        </dd>
    </dl>
    
    
    <div style="text-align:center">@Html.ActionLink("Pensiuni in apropriere", "SearchMotel", new { id = Model.idPartie }, new { @class = "btn btn-primary btn-large" })</div>
</div>