@model IEnumerable<SkiGes_v1._0.Models.Partie>
@{
    ViewBag.Title = "PartiesInZone";
    if (Session["UserType"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
<h1>Lista partiilor apropriate</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stare_partie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dificultate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strat_zapada)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orar)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.link)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stare_partie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dificultate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strat_zapada)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.idPartie }, new {@style = "color:#0041aa;" })
            </td>
        </tr>
    }

</table>

