@model IEnumerable<SkiGes_v1._0.Models.Rezervare>

@{
    ViewBag.Title = "rezervarileMele";
    if(Session["UserType"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<h2>Rezervarile Mele</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPartie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPensiune)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUtilizator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numarCamere)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.idPartie.ToString(),"Details", "Parties", new { id = item.idPartie }, new { @class = "btn btn-info"})
        </td>
        <td>
            @Html.ActionLink(item.idPensiune.ToString(), "Details", "Pensiunes", new { id = item.idPensiune }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.ActionLink(item.idUtilizator.ToString(), "Details", "Utilizators", new { id = item.idUtilizator }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numarCamere)
        </td>
    </tr>
}

</table>
